<nav class="primary-nav">
  <div class="logo" [routerLink]="'/recycle'">
    <p>Eco-freaks</p>
  </div>
  <div class="input-box">
    <input type="text" placeholder="wyszukaj..." (input)="onSearchChange($event)">
    <span class="material-symbols-outlined">
      search
    </span>
  </div>
  <div class="content">
    <a class="link" routerLink="/home">Home</a>
    <a class="link" routerLink="/recycle/chat">Czat</a>
    <div>
      <a class="link add" [routerLink]="['/recycle/upload']">Dodaj</a>
    </div>
    <div class="link-wrapper">
      @if(userProfile()) {
        <button class="profile" (click)="toggleUserInfoPopup($event)">
          <span class="material-symbols-outlined">
            person
          </span>
          <svg [class]="[isUserInfoVisible() ? 'arrow-down' : '']" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
        </button>
        @if(isUserInfoVisible()) {
          <div class="profile-popup userInfo-popup">
            <a class="profile-link" (click)="viewProfile()">View Profile</a>
            <a class="profile-link" (click)="logout()">Wyloguj</a>
          </div>
        }
      } @else {
        <button class="profile" (click)="toggleLoginPopup($event)">
          Zarejestruj się
          <svg [class]="[isLoginVisible() ? 'arrow-down' : '']" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
        </button>
        @if(isLoginVisible()) {
          <div class="profile-popup">
            <p>Nie posiadasz konta?</p>
            <a class="signup" (click)="onRegister()">Zarejestruj się</a>
            <div class="profile-divider"></div>
            <a class="login-link" [routerLink]="['/login']">Zaloguj się</a>
          </div>
        }
      }
    </div>
  </div>
</nav>
