:host {
  width: 100%;
  height: 100%;
}

.recycle-upload-container {
  width: 100%;
}

.recycle-upload {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 3rem;
  margin-top: 7rem;

  &__header {
    align-self: flex-start;
    color: var(--color-dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.02em;
    font-size: 2rem;
    text-transform: uppercase;
    opacity: .8;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2.5rem;
    width: 100%;
    background-color: #eee;
    color: var(--color-dark);
    gap: 1.5rem;
    font-size: 1.8rem;
  }

  &__basicInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1.5rem;
    color: var(--color-dark);
    align-self: flex-start;
    max-width: 700px;
    width: 100%;

    & > h1 {
      color: var(--color-dark);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: 0.02em;
      font-size: 2.5rem;
      text-transform: uppercase;
      opacity: .8;
      margin-bottom: 1.5rem;
    }
  }
}

.photos-header {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
}
.photos-info {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: .8;

  & > span {
    font-weight: 600;
    font-size: 1.8rem;
  }
}
.photos-info-remember {
  font-size: 2rem;
  font-weight: 400;
}
.header-divider {
  width: 100%;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.587);
  margin: 2.25rem 0 2.75rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .2rem;
  }
  &:last-child {
    margin-top: 1rem;
  }
}
.project-info-form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.project-info-input {
  padding: 1.25rem 2rem;
  font-size: 1.6rem;
  border: 2px solid var(--bg-upload-btn);
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &::placeholder {
    color: var(--color-dark);
    opacity: .8;
  }
}