<div class="recycle-upload-container">
  <section class="recycle-upload">
    <header class="recycle-upload__header">
      <h1>Create a new project</h1>
    </header>
    <div class="header-divider"></div>
    <div class="recycle-upload__content">
      <p class="photos-header">Upload your photos using the button below</p>
      <button id="upload_widget" (click)="openWidget()" class="recycle-main-btn">
        Upload files
      </button>
      <p class="photos-info"><span class="notice">Notice!</span> Your first photo that you upload will be the main image on your project.</p>
      <span class="photos-info-remember"><b>REMEMBER</b> to click done, it will upload your chosen photos, be determined because you can upload your photos only once</span>
    </div>
    <div class="recycle-upload__basicInfo">
      <h1>Basic Information</h1>
      <form [formGroup]="form" (ngSubmit)="onAddProject()" class="project-info-form">
        <div class="input-box">
          <label for="title">Title</label>
          <input formControlName="title" type="text" id="title" placeholder="Enter title" class="project-info-input"/>
        </div>
        <div class="input-box">
          <label for="description">Description</label>
          <textarea formControlName="description" rows="6" id="description" class="project-info-input"></textarea>
        </div>
        <button type="submit" class="recycle-main-btn">Add project</button>
      </form>
    </div>
  </section>
</div>
