<section class="home">
  <!-- <app-navbar /> -->
  <div class="top">
    <img src="assets/Main-bg.png" alt="main" />
    <div class="top__content">
      <!-- <img src="assets/Recycle.png" alt="recycle" /> -->
      <img src="assets/recycle-logo.png" alt="logo">
      <!-- <p>Eco Freaks</p> -->
      <app-button-sign [routerLink]="['/recycle']">Zacznij przygodę</app-button-sign>
    </div>
  </div>
  <main class="content">
    <div class="underground">
      <img src="assets/Underground.png" alt="underground" />
      <div class="underground__content">
        <span>Segregacja odpadów bywa trudna?</span>
        <p>CZAS TO ZMIENIĆ!</p>
      </div>
    </div>
    <div class="bins">
      <div class="bin-container"><img src="assets/Yellow-bin.png" alt="Yellow-bin" class="bin" /></div>
      <div class="bin-container"><img src="assets/Brown-bin.png" alt="Brown-bin" class="bin" /></div>
      <div class="bin-container"><img src="assets/Green-bin.png" alt="Green-bin" class="bin" /></div>
      <div class="bin-container"><img src="assets/Black-bin.png" alt="Black-bin" class="bin" /></div>
      <div class="bin-container"><img src="assets/Blue-bin.png" alt="Blue-bin" class="bin" /></div>
    </div>
    <div class="info">
      <div class="pad-container"><img src="assets/Left-pad.png" alt="Left-pad" class="pad"></div>
      <p class="info__text">Nie wiesz do którego pojemnika wrzucić  swoje odpady? Nasza aplikacja przychodzi z pomocą! Zrób zdjęcie danego odpadu, a sztuczna inteligencja podpowie do którego pojemnika należy go wrzucić</p>
      <div class="pad-container"><img src="assets/Right-pad.png" alt="Left-pad" class="pad"></div>
    </div>
    <div class="idea">
      <div class="idea__box">
        <img src="assets/Cat.png" alt="Cat" class="cat">
        <p class="idea__text">MOŻE JEDNAK CIĘ TO NIE SATYSFAKCJONUJE? PRZEDSTAWIAMY MODEL UPCYCLING ZA KTÓRY MOŻESZ ZDOBYWAĆ PUNKTY W NASZEJ APLIKACJI</p>
      </div>
    </div>
    <div class="palletes-section">
      <div class="palletes-section__header">
        <p class="header">WYOBRAŹ SOBIE ŻE MASZ DO <br>WYRZUCENIA PALETĘ</p>
        <img src="/assets/Palletes.png" alt="palletes">
      </div>
      <div class="palletes-section__main">
        <div class="header-box">
          <p class="header" style="margin-bottom: 0;">ZRÓB JEJ ZDJĘCIE A NASZA APLIKACJA PODPOWIE CO MOŻESZ Z NIEJ WYKONAĆ!</p>
          <p class="header-main">OTO PRZYKŁADY</p>
        </div>
        <div class="palletes-section__images">
          <img src="/assets/Left-pallet.png" alt="left-pad">
          <img src="/assets/Right-pallet.png" alt="right-pad">
        </div>
      </div>
    </div>
  </main>
  <footer class="footer"><p>Footer</p></footer>
</section>
