@import "../../sass/abstracts/mixins";

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.top {
  width: 100%;
  height: auto;
  @include f-center;
  // background-image: url('../../../assets/Main-bg.png');
  // background-size: cover;
  // background-position: bottom;
  position: relative;

  & > img {
    // position: absolute;
    width: 100%;
    height: 100%;
  }
  &__content {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include f-center;
    flex-direction: column;
    max-width: 500px;

    & > img {
      width: 90%;
      height: 90%;
    }
    & > p {
      font-size: 5rem;
      font-weight: 700;
      margin-top: -1rem;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.content {
  width: 100%;
  height: auto;
  @include f-center;
  flex-direction: column;
  position: relative;
}

.underground {
  width: 100%;
  height: auto;
  @include f-center;
  position: relative;

  & > img {
    width: 100%;
    height: 100%;
  }
  &__content {
    width: 75%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include f-center;
    flex-direction: column;
    max-width: 900px;
    background: var(--bg-message);
    backdrop-filter: blur(2px);
    padding: 3rem;
    border-radius: 20px;
    & > span {
      font-size: 3rem;
      font-weight: 400;
      text-align: center;
    }
    & > p {
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.bins {
  @include f-center;
  width: 100%;
  margin-top: -7rem;
}
.bin-container {
  flex-basis: 15%;
  &:nth-child(even) {
    margin-bottom: 5rem;
  }
}
.bin {
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5rem;
  gap: 4rem;
  margin-top: 4rem;

  &__text {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    color: #000;
    width: 100%;
  }
}
.pad-container {
  width: 23%;
}
.pad {
  width: 100%;
  height: 100%;
}

.idea {
  @include f-center;
  width: 100%;
  margin-top: 8rem;

  &__box {
    width: 50%;
    border-radius: 10px;
    background: var(--bg-idea);
    padding: 2.5rem 3.5rem;
    position: relative;
  }
  &__text {
    color: var(--color-bl_wh);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
}
.cat {
  position: absolute;
  width: 25%;
  top: 0;
  left: 0;
  transform: translate(-20%, -60%);
}
.palletes-section {
  width: 100%;
  height: auto;
  @include f-center;
  flex-direction: column;
  margin-top: 8rem;
  position: relative;
  margin-top: 7rem;

  &__header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & > img {
      width: 90%;
    }
  }

  &__main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -4rem;
    flex-direction: column;
  }
  &__images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 10rem;


    & > img {
      width: 40%;

      @include respond(big-phone) {
        width: 45%;
      }
    }
  }
}

.header {
  color: #111;
  font-size: 2.4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.06em;
  margin-bottom: -14rem;
  font-weight: 600;
  text-align: center;

  @include respond(tab-port) {
    margin-bottom: -10rem;
  }
}
.header-main {
  font-size: 4.5rem;
  font-weight: 700;
  color: green;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: -3rem;
}

.footer {
  margin: 0 auto;
  margin-top: 4rem;
  width: 90%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem;
  background: rgb(0, 43, 0);
  color: #eee;
  margin-bottom: 3rem;

  & > p {
    font-size: 3rem;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  width: 70%;
  margin: 3rem 0;

  & p:first-child {
    font-size: 3.4rem;
    font-weight: 800;
    color: #111;
  }
  & p:last-child {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    color: #111;
  }
}

