<section class="recycle-main">
  <div class="recycle-main__header">
    <p class="eco-helper">
      <span class="ECO">ECO Helper</span>,<br> Pomocnik który podpowie co zrobić z śmieciami!
    </p>
    <div class="eco-helper_container">
      <img src="assets/ECO-Helper.png" class="eco-helper" alt="eco-helper">
    </div>
    <p class="persuade">
      Wypróbuj go już teraz i zobacz że segregacja wcale taka trudna nie jest
    </p>
  </div>
  <div class="recycle-main__projects">
    @for (project of projects(); track project.projectId) {
      <app-project [projectData]="project"></app-project>
    }
  </div>
</section>
